* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App h1{
margin-left: 70px;
margin-top: 25px;
}

.App h2 {
  margin-left: 70px;
}

.peliculas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 1rem;
  padding: 25px;
  margin-left: 45px;
}

.peliculas img {
  max-width: 150px;
  height: 225px;
}

